h1{
    color:rgb(244, 244, 249);
}

body{
    background-color: #37383b;
    padding: 0;
    margin: 0;
}

#my-image {
    width: 500px;
    position: absolute;
    left: 30px;
}

header ul{
    color: azure;
    list-style: none;
    float: right;
    margin-right: 30px;
}

nav{
    background: #000000;
    height: 80px;
    width: 100%;
    position: fixed;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
    font-size: 120%;
}

label.my-name{
    color: azure;
    font-size: 40px;
    line-height: 70px;
    padding: 0 50px;
}

.menu{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}