h1{
    color:rgb(244, 244, 249);
}

body{
    background-color: #4b4b4c;
    padding: 0;
    margin: 0;
    
}

#my-image {
    width: 140px;
    margin: auto;
    margin-top: 70px;
    display: inline;
    /* margin: 80px 370px 0; */
    border-radius: 50%;
    /* text-align: center; */
    position: static;
    
}

#arrowME{
    font-weight: 600;
    font-size: 40px;
    display: inline;
    position: static;
    padding-bottom: -75px;
}

header ul{
    color: azure;
    list-style: none;
    float: right;
    line-height: 30px;
}

header{
    background: #212124;
    height: 70px;
    width: 100%;
    font-family: Georgia;
    position: fixed;
    top: 0%;
}

menu ul li{
    display: inline-block;
    line-height: 0%;
    margin: 0px 10px;
    font-size: 120%;
}

label.my-name{
    color: azure;
    font-size: 40px;
    line-height: 65px;
    margin-left: 20px;
}

ul.options a{
    color: azure;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

ul.options a:hover{
    color: rgb(151, 206, 155);
    background-color: #38383b;
    padding: 10px 7px;
}

.menu{
    width: 35px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    display: none;
}

.container{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 30px;
}

.socials{
    color: #373739;
    text-align: center;
    left: 40%;
    position: static;
    bottom: 5px;
}

nav ul li{
    display: inline-block;
    line-height: 0%;
    margin: 0px 10px;
    font-size: 120%;
}

/* nav{
    color: #212124;
    height: 70px;
    width: 100%;
    font-family: Georgia;
    position: fixed;
} */


/* @media (max-width: 995px){
    .menu{
        display: block;
    }
    ul.options{
        position: fixed;
        width: 100%;
        margin: 0;
        height: 100%;
        display: block;
        background-color: #101063;
        text-align: center;
    }
} */