body{
    background-color: #4b4b4c;
    padding: 0;
    margin: 0;
}

/* Navigation bar */

header ul{
    list-style: none;
    float: right;
    line-height: 30px;
}

header{
    color: azure;
    background: #212124;
    height: 70px;
    width: 100%;
    font-family: Georgia;
    position: fixed;
    top: 0%;
}

nav ul li{
    display: inline-block;
    line-height: 0%;
    margin: 20px 20px;
    font-size: 150%;
}

label.my-name{
    font-size: 40px;
    line-height: 65px;
    margin-left: 20px;
}

ul.options a{
    color: azure;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

ul.options a:hover{
    color: rgb(151, 206, 155);
    background-color: #38383b;
    padding: 10px 7px;
}

/* Main */
/* profile picture STILL NEEDS WORK */
#pfp{
    position: static;
    /* display: inline; */
    margin-left: auto;
    margin-right: auto;
}

#my-image {
    width: 140px;
    margin-top: 70px;
    /* margin: 80px 370px 0; */
    border-radius: 50%;
}

#arrowME{
    font-weight: 600;
    font-size: 40px;
}

/* About Me Summary */
article{
    color: azure;
    text-align: center;
}

/* Socials */
/* footer{
    color: azure;
} */

footer ul.options a{
    color: azure;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}