body{
    background-color: #5e7869ea;
    padding: 0;
    margin: 0;
}

/* Navigation bar */

header ul{
    list-style: none;
    float: right;
    line-height: 30px;
}

header{
    color: rgb(233, 239, 239);
    background: #212124;
    height: 70px;
    width: 100%;
    font-family: Georgia;
    position: fixed;
    top: 0%;
}

nav ul li{
    display: inline-block;
    line-height: 0%;
    margin: 20px 20px;
    font-size: 150%;
}

label.my-name{
    font-size: 40px;
    line-height: 65px;
    margin-left: 20px;
}

ul.options a{
    color: rgb(115, 175, 175);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
}

ul.options a:hover{
    color: rgb(151, 206, 155);
    background-color: #38383b;
    padding: 10px 7px;
}

/* Main */
/* profile picture STILL NEEDS WORK */
#pfp{
    position: static;
    /* display: inline; */
    margin-left: auto;
    margin-right: auto;
}

#my-image {
    width: 120px;
    margin-top: 10px;
    /* margin: 80px 370px 0; */
    border-radius: 50%;
    object-fit: cover;
}

#arrowME{
    font-weight: 600;
    font-size: 40px;
     display: flex;
    
}

/* About Me Summary */
article{
    color: rgb(80, 169, 169);
    text-align: center;
}

/* Socials */
footer{
    color: rgb(59, 210, 210);
    position: absolute;
    bottom: 0;
}

footer ul{
    list-style: none;
    display: inline-flex;
}

ul.links a{
    color: rgb(84, 200, 200);
    text-decoration: none;
}